<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-6">
      <a href="http://google.pl">
        <img src="../../../assets/1.jpg" alt="Google.pl" class="card-img-top">
      </a>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-2 col-md-8 col-sm-6">
      <a href="http://onet.pl">
        <img src="../../../assets/2.jpg" alt="http://onet.pl" class="card-img-top">
      </a>
      <a href="http://onet.pl">
        <img src="../../../assets/2.jpg" alt="http://onet.pl" class="card-img-top">
      </a>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-6">
      <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-4 col-sm-6">
          <app-user-card [user]="user"></app-user-card>
        </div>
      </div>
      <a href="http://google.pl">
        <img src="../../../assets/1.jpg" alt="Google.pl" class="card-img-top">
      </a>
    </div>
  </div>
</div>

