@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/slate/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.container
{
  max-width: unset;
}

.tab-panel
{
  border: 1px solid cornflowerblue;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .user-tabset > .nav-tabs > li:hover
{
  border-bottom: 4px solid cornflowerblue;
}

.user-tabset > .nav-tabs > li.open > a, .user-tabset> .nav-tabs > li:hover > a
{
  border: 0px;
  background: none !important;
  color: cornflowerblue;
}


.user-tabset > .nav-tabs > li.open > a > i, .user-tabset > .nav-tabs > li:hover > a > i {
  color: cornflowerblue;
}

.user-tabset > .nav-tabs > li.open .dropdown-menu, .user-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.user-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid cornflowerblue;
  position: relative;
}

.user-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: cornflowerblue;
}

.user-tabset > .nav-tabs > li.active > a > i {
  color: cornflowerblue;
}

.user-tabset > .tab-content {
  margin-top: -3px;
  background-color:#32373b;
  border: 0;
  border-top: 1px solid cornflowerblue;
  padding: 15px 0;
}
